.categoryItem {
  flex: 1;
  margin: 5px;
  height: 70vh;
  cursor: pointer;
  position: relative;
}

.categoryItem:hover {
  opacity: 0.9;
}

.catImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.catInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catTitle {
  font-size: 48px;
  color: gray;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  font-weight: 800;
}

.catBtn {
  border: none;
  padding: 10px;
  background-color: white;
  color: gray;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px;
}